<!DOCTYPE html>
{%extends 'first_app/base.html' %}
{%block body_block %}
<h1>Hi, welcome to django level two</h1>
        <h2>here are your access record:</h2>

        <div class = 'django2'>
            {% if access_rec %}
            <table>
                <thead>
                    <th>Site Name</th>
                    <th>Date Accessed</th>
                </thead>
            

            {%for acc in access_rec %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
            {%endfor%}

            {%else%}
            <p>No Access Records Found!</p>
            {%endif%}

            </table>
        </div>


{% endblock %}

        
    